{% extends "layout.html" %}
{% block content %}

    <!-- Blockchain Get Score -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="card-body">
            <h4 class="card-title">Get Score</h4>
            <p class="card-text">Enter the person ID to get their score</p>
          </div>

        </div>
      </div>
    </div>

    <div class="container alert alert-secondary">

        <div class="row">
          <label class="col-sm-2">Person ID:</label>
          <div class="col-sm-10">
            <textarea id="person_id" rows="1" class="form-control" placeholder="Public key"></textarea>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-12 text-center">
            <input type="button" id="get_score" class="btn btn-primary btn-lg" value="Get Score">
          </div>
        </div>
      
      <div id = "score"></div>

    </div>


    <script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>


    <script>
      function algorithm(Ph, D, Tw, Y, N, Crr, Cri, EP){
        if(Y > 61){
          Y=61
        }
        if(N < 4) {
          N = 4
        }
        return Math.floor(1000 * (0.35 * Ph+0.3 * (D/Tw) + 0.1 * (Y/61) + 0.1 * (4/N) + 0.1 * (((Crr/100) + Cri)/2) + 0.05 * (1 - (EP/100))))
      }
      $(function(){

        
        $('#get_score').click(function(){

          $.ajax({
            url: "http://127.0.0.1:500"+Math.floor(Math.random() * 4)+"/chain",
            type: 'GET',
            success: function(response){

              console.log(response);
              console.log("http://127.0.0.1:500"+Math.floor(Math.random() * 3)+"/chain")
              //Generate Transactions Table
              var transactions = [];
              count = 1;

              for (i = 1; i < response.length; i++) {
                for (j = 0; j < response["chain"][i]["transactions"].length; j++) {

                  //format date
                  var options = {  year: "numeric", month: "short",  day: "numeric", hour: "2-digit", minute: "2-digit", second: "2-digit"  };
                  var date = new Date(response["chain"][i]["timestamp"] * 1000);
                  var formattedDateTime = date.toLocaleTimeString("en-us", options);

                  transaction = [count,
                                response["chain"][i]["transactions"][j]["recipient_address"],
                                response["chain"][i]["transactions"][j]["sender_address"],
                                response["chain"][i]["transactions"][j]["value"],
                                formattedDateTime,
                                response["chain"][i]["block_number"]];
                  transactions.push(transaction);

                  count += 1;
                };
              };


              for (i = response["chain"].length - 1; i > 0; i--) {
                console.log("for loop entered")
                if(response["chain"][i]["transactions"][0]["recipient_address"] === document.getElementById("person_id").value) {
                  console.log("if entered")
                   document.getElementById("score").innerHTML = response["chain"][response["chain"].length - 1]["transactions"][0]["value"]
                }
              }

            },
            error: function(error){
              console.log(error);
            }
          });
        });


      })




    </script>


{% endblock %}