{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="tagline">Even FinTech Prompt 2</div>
        
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam atque aperiam, id cumque eum at, possimus eos nemo itaque rem doloribus nihil officia nobis nostrum inventore voluptatibus obcaecati quae porro.

        <div class="button bg-blue">
            <a class="white" href="{{ url_for('users.register') }}">Register</a>
        </div>
    </div>
    
{% endblock content %}