{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <div class="tagline">Your current credit score is <span class="credit-score">993</span></div>
        <br>
        <center>
            <h3>Update your details:</h3>
            Amount Paid: <input id="amountPaid"/><br>
            Amount Paid: <input id="amountPaid"/><br>
            Amount Paid: <input id="amountPaid"/><br>
            <button type="submit">Submit</button>
            (different parameters to equation)
        </center>
            

<br>
            Our credit score is completely transparent! Here is our formula: (insert formula)
        

        
    </div>
    
{% endblock content %}